<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Studentmarks</display-name>
    <servlet-name>Studentmarks</servlet-name>
    <servlet-class>Studentmarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studentmarks</servlet-name>
    <url-pattern>/Studentmarks</url-pattern>
  </servlet-mapping>
  <display-name>servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeSalary</display-name>
    <servlet-name>EmployeeSalary</servlet-name>
    <servlet-class>EmployeeSalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSalary</servlet-name>
    <url-pattern>/EmployeeSalary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addition</display-name>
    <servlet-name>Addition</servlet-name>
    <servlet-class>Addition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addition</servlet-name>
    <url-pattern>/Addition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Studentinfo</display-name>
    <servlet-name>Studentinfo</servlet-name>
    <servlet-class>Studentinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studentinfo</servlet-name>
    <url-pattern>/Studentinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sqservlet</display-name>
    <servlet-name>sqservlet</servlet-name>
    <servlet-class>sqservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sqservlet</servlet-name>
    <url-pattern>/sqservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Additions</display-name>
    <servlet-name>Additions</servlet-name>
    <servlet-class>Additions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Additions</servlet-name>
    <url-pattern>/Additions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sqservlets</display-name>
    <servlet-name>sqservlets</servlet-name>
    <servlet-class>sqservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sqservlets</servlet-name>
    <url-pattern>/sqservlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sqservet</display-name>
    <servlet-name>Sqservet</servlet-name>
    <servlet-class>Sqservet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sqservet</servlet-name>
    <url-pattern>/Sqservet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employeefile</display-name>
    <servlet-name>Employeefile</servlet-name>
    <servlet-class>Employeefile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employeefile</servlet-name>
    <url-pattern>/Employeefile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewEmployees</display-name>
    <servlet-name>viewEmployees</servlet-name>
    <servlet-class>viewEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewEmployees</servlet-name>
    <url-pattern>/viewEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editreturn</display-name>
    <servlet-name>Editreturn</servlet-name>
    <servlet-class>Editreturn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editreturn</servlet-name>
    <url-pattern>/Editreturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addition1</display-name>
    <servlet-name>Addition1</servlet-name>
    <servlet-class>Addition1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addition1</servlet-name>
    <url-pattern>/Addition1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sqservlet1</display-name>
    <servlet-name>sqservlet1</servlet-name>
    <servlet-class>sqservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sqservlet1</servlet-name>
    <url-pattern>/sqservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addition2</display-name>
    <servlet-name>Addition2</servlet-name>
    <servlet-class>Addition2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addition2</servlet-name>
    <url-pattern>/Addition2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sqservlet2</display-name>
    <servlet-name>sqservlet2</servlet-name>
    <servlet-class>sqservlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sqservlet2</servlet-name>
    <url-pattern>/sqservlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookys</display-name>
    <servlet-name>Cookys</servlet-name>
    <servlet-class>Cookys</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookys</servlet-name>
    <url-pattern>/Cookys</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sqservlet3</display-name>
    <servlet-name>sqservlet3</servlet-name>
    <servlet-class>sqservlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sqservlet3</servlet-name>
    <url-pattern>/sqservlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sqservlet0</display-name>
    <servlet-name>sqservlet0</servlet-name>
    <servlet-class>sqservlet0</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sqservlet0</servlet-name>
    <url-pattern>/sqservlet0</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addition0</display-name>
    <servlet-name>Addition0</servlet-name>
    <servlet-class>Addition0</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addition0</servlet-name>
    <url-pattern>/Addition0</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sqservlet01</display-name>
    <servlet-name>sqservlet01</servlet-name>
    <servlet-class>sqservlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sqservlet01</servlet-name>
    <url-pattern>/sqservlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add1Files</display-name>
    <servlet-name>Add1Files</servlet-name>
    <servlet-class>Add1Files</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add1Files</servlet-name>
    <url-pattern>/Add1Files</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sqservlet4</display-name>
    <servlet-name>sqservlet4</servlet-name>
    <servlet-class>sqservlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sqservlet4</servlet-name>
    <url-pattern>/sqservlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sqservlets4</display-name>
    <servlet-name>sqservlets4</servlet-name>
    <servlet-class>sqservlets4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sqservlets4</servlet-name>
    <url-pattern>/sqservlets4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logins</display-name>
    <servlet-name>Logins</servlet-name>
    <servlet-class>Logins</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logins</servlet-name>
    <url-pattern>/Logins</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login2</display-name>
    <servlet-name>Login2</servlet-name>
    <servlet-class>Login2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login2</servlet-name>
    <url-pattern>/Login2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet5</display-name>
    <servlet-name>servlet5</servlet-name>
    <servlet-class>servlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet5</servlet-name>
    <url-pattern>/servlet5</url-pattern>
  </servlet-mapping>
  <context-param>
  <param-name>name</param-name>
  <param-value>Sayali</param-value>
  </context-param>
  
  <context-param>
  <param-name>Phone</param-name>
  <param-value>Redmi-9</param-value>
  </context-param>
  
</web-app>